<h1>'Pedidos encerrados'</h1>

<h3>Total de pedidos encerrados: <%= @removal_orders.count %> </h3>
<h3>Total de lixo retirado: </h3>

<% @removal_orders.each do |removal_order|  %>
   <ul class="list-group">
    <li class="list-group-item">Peso:
      <%= removal_order.weight %>
    </li>
    <li class="list-group-item">Data de retirada:
      <%= l removal_order.removal_date_start, format: :custom %>
    </li>
    <li class="list-group-item">Endereço:
      <%= removal_order.address %>
    </li>
  </ul>
<% end %>
