<% if @removal_order.errors.any? %>
  <% @removal_order.errors.full_messages.each do |error|%>
    <div class="alert alert-dark" role="alert">
      <%= error %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end%>
<%= render 'form' %>
