<p>Peso: <%= @removal_order.weight %> kg</p>
<p>Data retirada inicio: <%= @removal_order.removal_date_start.strftime("%d/%m/%Y") %></p>
<p>Data retirada fim: <%= @removal_order.removal_date_end.strftime("%d/%m/%Y") %></p>
<p>Endereço de retirada: <%= @removal_order.address %></p>


