
<div class="row d-flex justify-content-center align-items-center flex-column">
    <%= image_tag 'TRASHLESS.png', size: '250', class:'m-4' %>
    <div> <%= image_tag 'earth.gif', size: '100', class:'m-4' %> </div>
    <h4>Em busca de um mundo melhor!</h4>
</div>